In [17]:
import pandas as pd


# Load the CSV file
customer_df = pd.read_csv("C:/Users/localadmin/Desktop/Customers2nd case.csv")  # Replace with your actual file path

In [29]:
customer_df.head()

  CustomerID FirstName LastName Gender      Region          SSN
0      C0001   Gregory   Miller   Male        Ohho  082-57-3197
1      C0002    Marvin      NaN   Male  california  309-62-5621
2      C0003   Gregory    Smith   Male   New Yorkk  407-07-1725
3      C0004    Edward    Davis   Male        Ohho  948-18-5740
4      C0005  Reginald   Dawson   Male       Texas  975-72-3056

In [3]:
product_df = pd.read_csv("C:/Users/localadmin/Desktop/products.csv")

In [4]:
product_df.head()

   ProductID      ProductName         Category
0       1000  Washing Machine  Home Appliances
1       1001     Refrigerator  Home Appliances
2       1002          Blender  Home Appliances
3       1003        Microwave  Home Appliances
4       1004   Vacuum Cleaner  Home Appliances

In [5]:
sales_df = pd.read_csv("C:/Users/localadmin/Desktop/sales 1.csv")

In [6]:
sales_df.head()

,SaleID,ProductID,CustomerID,SalesAmount,Quantity,Timestamp
0,c0078cd1-3ddc-439a-b41d-7498e8e75e62,1020,C0460,1639.10,18.0,2024-08-09T20:21:00
1,be8532af-16b7-432c-a13d-4c6e6836d12d,1029,C0198,186.11,42.0,2024-11-28T05:01:00
2,8666f277-cc58-4fde-9d58-697da9e040f2,1012,C0524,1712.72,49.0,2024-10-13T00:36:00
3,383e0a2b-7e00-454e-a269-b2f73ecd33f2,1016,C0285,NaN,50.0,2024-07-06T23:39:00
4,d9a7f974-9572-48dd-aa36-3f96b280dfc7,1021,C0369,66.36,21.0,2024-06-08T19:58:00

In [28]:
customer_df.drop_duplicates(subset='CustomerID', inplace=True)

In [27]:
customer_df['Gender'] = customer_df['Gender'].astype(str).str.strip().str.capitalize()
customer_df['Gender'] = customer_df['Gender'].replace({'M': 'Male', 'F': 'Female'})

In [22]:
customer_df['SSN']

0        082573197
1      309-6256-21
2        407071725
3      948.18.5740
4      975.72.3056
          ...
995    599/60/1108
996    079-89-1050
997      070190887
998    514/78/8515
999    796-93-4918
Name: SSN, Length: 1000, dtype: object

In [23]:
import numpy as np
import re

In [13]:
customer_df['SSN'] = customer_df['SSN'].astype(str).apply(
    lambda x: x if re.match(r'^\d{3}-\d{2}-\d{4}$', x) else np.nan
)

In [14]:
for col in ['FirstName', 'LastName', 'Region']:
    customer_df[col] = customer_df[col].astype(str).str.strip().str.title()

In [26]:

customer_df['SSN'] = customer_df['SSN'].astype(str).apply(lambda x: re.sub(r'\D', '', x))

# Reformat to XXX-XX-XXXX if exactly 9 digits, else set to NaN
customer_df['SSN'] = customer_df['SSN'].apply(
    lambda x: f"{x[:3]}-{x[3:5]}-{x[5:]}" if len(x) == 9 else np.nan

)

In [30]:
# Clean product_df
product_df.drop_duplicates(subset='ProductID', inplace=True)

# Fill missing names/categories with 'Unknown'
product_df['ProductName'] = product_df['ProductName'].fillna('Unknown').astype(str).str.strip().str.title()
product_df['Category'] = product_df['Category'].fillna('Unknown').astype(str).str.strip().str.title()

# Drop rows with missing ProductID
product_df.dropna(subset=['ProductID'], inplace=True)
product_df['ProductID'] = product_df['ProductID'].astype(int)

In [31]:
product_df.head()

   ProductID      ProductName         Category
0       1000  Washing Machine  Home Appliances
1       1001     Refrigerator  Home Appliances
2       1002          Blender  Home Appliances
3       1003        Microwave  Home Appliances
4       1004   Vacuum Cleaner  Home Appliances

In [34]:
# Clean sales_df
sales_df.drop_duplicates(subset='SaleID', inplace=True)

# Convert Timestamp to datetime
sales_df['Timestamp'] = pd.to_datetime(sales_df['Timestamp'], errors='coerce')

# Ensure numeric types
sales_df['SalesAmount'] = pd.to_numeric(sales_df['SalesAmount'], errors='coerce')
sales_df['Quantity'] = pd.to_numeric(sales_df['Quantity'], errors='coerce')

# Drop rows with missing critical fields
sales_df.dropna(subset=['SaleID', 'ProductID', 'CustomerID', 'SalesAmount', 'Quantity', 'Timestamp'], inplace=True)

# Filter foreign key integrity
valid_customers = customer_df['CustomerID'].unique()
valid_products = product_df['ProductID'].unique()

sales_df = sales_df[sales_df['CustomerID'].isin(valid_customers)]
sales_df = sales_df[sales_df['ProductID'].isin(valid_products)]

In [33]:
list(sales_df.columns)

['SaleID', 'ProductID', 'CustomerID', 'SalesAmount', 'Quantity', 'Timestamp']

In [35]:
sales_df.head()

,SaleID,ProductID,CustomerID,SalesAmount,Quantity,Timestamp
0,c0078cd1-3ddc-439a-b41d-7498e8e75e62,1020,C0460,1639.10,18.0,2024-08-09 20:21:00
1,be8532af-16b7-432c-a13d-4c6e6836d12d,1029,C0198,186.11,42.0,2024-11-28 05:01:00
2,8666f277-cc58-4fde-9d58-697da9e040f2,1012,C0524,1712.72,49.0,2024-10-13 00:36:00
4,d9a7f974-9572-48dd-aa36-3f96b280dfc7,1021,C0369,66.36,21.0,2024-06-08 19:58:00
5,d71733ac-4fc4-42e6-ae48-c2150c8a92ae,1016,C0709,1705.51,31.0,2024-11-15 12:24:00

In [ ]:
from sqlalchemy import create_engine

# Replace with your actual credentials
engine = create_engine('mysql+mysqlconnector://root:Deloitte@123/sales_warehouse')

# Load DataFrames into MySQL
customer_df.to_sql('dim_customer', con=engine, if_exists='replace', index=False)
product_df.to_sql('dim_product', con=engine, if_exists='replace', index=False)
sales_df.to_sql('fact_sales', con=engine, if_exists='replace', index=False)

In [39]:
from urllib.parse import quote_plus
def create_mysql_engine(user, password, host, database):
    safe_password = quote_plus(password)
    connection_string = f'mysql+pymysql://{user}:{safe_password}@{host}/{database}'

    return connection_string
   
engine = create_mysql_engine('root', 'Deloitte@123', 'localhost', 'sales_warehouse')

In [43]:
customer_df.to_sql('customer', con=engine, if_exists='append', index=False)
product_df.to_sql('product', con=engine, if_exists='append', index=False)
sales_df.to_sql('sales', con=engine, if_exists='append', index=False)

9397

In [44]:
# Reload the table from MySQL
import pandas as pd

sql_df = pd.read_sql('SELECT * FROM sales', con=engine)

# Compare row counts
print("Original:", len(sales_df))
print("In SQL:", len(sql_df))

# Find missing rows
missing_rows = sales_df[~sales_df['sale_id'].isin(sql_df['sale_id'])]
print("Missing rows:")
print(missing_rows)

Original: 9397
In SQL: 9397

KeyError: 'sale_id'

In [45]:
import pandas as pd

df = pd.read_csv('C:/Users/localadmin/Desktop/sales 1.csv', error_bad_lines=False, warn_bad_lines=True, encoding='utf-8')
print("Rows loaded:", len(df))

TypeError: read_csv() got an unexpected keyword argument 'error_bad_lines'. Did you mean 'on_bad_lines'?

In [46]:
import pandas as pd

df = pd.read_csv(
    'C:/Users/localadmin/Desktop/sales 1.csv',
    encoding='utf-8',
    on_bad_lines='warn'  # Options: 'error', 'warn', 'skip'
)

print("Rows loaded:", len(df))

Rows loaded: 10000

In [47]:
# Did you drop missing values?
print("Before dropna:", len(df))
df_cleaned = df.dropna()
print("After dropna:", len(df_cleaned))

# Did you drop duplicates?
df_deduped = df_cleaned.drop_duplicates()
print("After drop_duplicates:", len(df_deduped))

Before dropna: 10000
After dropna: 9397
After drop_duplicates: 9397

In [48]:
df_cleaned = df.dropna(subset=['sale_id', 'customer_id', 'product_id', 'amount'])

KeyError: ['sale_id', 'customer_id', 'product_id', 'amount']

In [49]:
print(df.columns.tolist())

['SaleID', 'ProductID', 'CustomerID', 'SalesAmount', 'Quantity', 'Timestamp']

In [50]:
['SaleID', 'ProductID', 'CustomerID', 'SalesAmount', 'Quantity', 'Timestamp']

['SaleID', 'ProductID', 'CustomerID', 'SalesAmount', 'Quantity', 'Timestamp']

In [51]:
df_cleaned = df.dropna(subset=['SaleID', 'CustomerID', 'ProductID', 'SalesAmount'])

In [52]:
df_cleaned.head()

,SaleID,ProductID,CustomerID,SalesAmount,Quantity,Timestamp
0,c0078cd1-3ddc-439a-b41d-7498e8e75e62,1020,C0460,1639.10,18.0,2024-08-09T20:21:00
1,be8532af-16b7-432c-a13d-4c6e6836d12d,1029,C0198,186.11,42.0,2024-11-28T05:01:00
2,8666f277-cc58-4fde-9d58-697da9e040f2,1012,C0524,1712.72,49.0,2024-10-13T00:36:00
4,d9a7f974-9572-48dd-aa36-3f96b280dfc7,1021,C0369,66.36,21.0,2024-06-08T19:58:00
5,d71733ac-4fc4-42e6-ae48-c2150c8a92ae,1016,C0709,1705.51,31.0,2024-11-15T12:24:00

In [53]:
len(df_cleaned)

9503

In [54]:
df_cleaned['timestamp'] = pd.to_datetime(df_cleaned['timestamp'], errors='coerce')
df_cleaned['salesamount'] = pd.to_numeric(df_cleaned['salesamount'], errors='coerce')

KeyError: 'timestamp'

In [55]:
df.columns = df.columns.str.strip().str.lower()

In [58]:
print(df.isnull().sum())

saleid         0
productid      0
customerid     0
salesamount    0
quantity       0
timestamp      0
dtype: int64

In [57]:
df['salesamount'] = df['salesamount'].fillna(0)
df['quantity'] = df['quantity'].fillna(1)  # or another sensible default

In [59]:
df_cleaned.to_sql('sales_cleaned', con=engine, if_exists='replace', index=False)

9503